body {
	margin-top: 5px;
	background-color: #d5e9f0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-image: url(../images/gal_v.jpg);
	background-repeat: no-repeat; 
	background-position: top;
}

table {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #d5e9f0;
	filter: alpha(opacity=75, style=0);
	-moz-opacity:0.75;
}

td {
	padding-left: 2px;
	padding-right: 2px;
}

h1, h2, h3 {	
	font-family: Arial, Helvetica, sans-serif;
	color: #048AC8;
	margin-top: 0px;
	margin-bottom: 5px;
}

h1 {
	font-size: 18px;
	font-weight: normal;
}

h2 {
	font-size: 16px;
	font-weight: bold;
}

h3 {
	font-size: 13px;
	font-weight: bold;
}

h1 a, h2 a, h3 a, h1 a:visited, h2 a:visited, h3 a:visited {	
	font-family: Arial, Helvetica, sans-serif;
	color: #048AC8;
	text-decoration: underline;
	margin-top: 0px;
	margin-bottom: 5px;
}

h1 a:hover, h2 a:hover, h3 a:hover {
	text-decoration: none;	
}

h1 a, h1 a:visited {
	font-size: 18px;
	font-weight: normal;
}

h2 a, h2 a:visited {
	font-size: 15px;
	font-weight: bold;
}

h3 a, h3 a:visited  {
	font-size: 12px;
	font-weight: bold;
}

p {
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 3px;
	margin-bottom: 3px;
}

a, a:visited {	
	font-family: Arial, Helvetica, sans-serif;
	color: #048AC8;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;	
}

#mastercontainer {
	background-color: #FFFFFF;
	padding-bottom: 5;
	width: 900px;
	float: none;
	margin-top: 5;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}

#top {
	width: 900px;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}

#top td {
	padding: 0px;
	margin: 0px;
}

#banner {
	background-image: url(../images/banner.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	height: 89px;
	clear: both;
}

#body-hp {
	width: auto;
	margin: 0px;
	padding: 0px;
	clear: both;
}

#topimgs {
	padding: 0px;
	margin-left: 0px;
	clear: none;
	float: left;
	margin-top: 0px;
	width: auto;
}

#utilmenu {
	margin-right: 0px;
	float: right;
	width: 900px;
	height: 25px;
	font-size: 11px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	margin-top: 0px;
	margin-bottom: 0px;
	background-image: url(../images/navT.gif);
	text-align: right;
	clear: both;
}

#utilmenu a, #utilmenu a:visited{
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: underline;
	margin: 0px;
	padding-right: 12px;
	padding-left: 12px;
	font-size: 11px;
	color: #048AC8;
}

#utilmenu a:hover{
	text-decoration: none;
}

#NAVtop {
	width: 900px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-image: url(../images/navT.gif);
	margin-top: 0px;
	clear: both;
	margin-bottom: 6px;
	line-height: 30px;
	padding: 0;
	background-repeat: no-repeat;
	height: 30px;
	background-position: left top;
	color: #FFFFFF;
}

#NAVtop a, #NAVtop a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: underline;
	color: #FFFFFF;
}

#NAVtop a:hover {
	text-decoration: none;
}

#NAVleft {
	width: 150px;
	margin-bottom: 5px;
	float: left;
	clear: left;
	font-size: 11px;
	background-color: #EEEEEE;
	border-top-width: 5px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-style: solid;
	border-color: #048AC8;
	padding-top: 5px;
	padding-bottom: 5px;
}

form {
	margin: 0px;
	padding: 0px;
}
input, select {	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

#body_box {
	float: right;
	padding:5;
	margin-bottom: 10px;
	border: 1px solid #048AC8;
	width: 740px;
	overflow: scroll;
	height: 400px;
	background-color: #FAFCFC;
}
.tableheader {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.6;
	color: #FAFCFC;
	background-color: #048AC8;
	font-weight: bold;
}

#bodysection {
	width: 740px;
	margin: 5px;
	clear: none;
	float: none;
	font-size: 11px;
	height: 400px;
}
#bodysection td {
	padding: 2px;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #048AC8;
}

#recordnav {
	width: 730px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	line-height: 2;
	float: none;
	margin-left: 160px;
	clear: right;
	margin-top: 10px;
	padding: 5px;
	border: 1px solid #048AC8;
	text-align: center;
}

#footercontainer {
	width: 900px;
	color: #048AC8;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	font-weight: bold;
	clear: both;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #048AC8;
	clip: rect(auto,auto,0px,auto);
}

#footercontainer a, #footercontainer a:visited {	
	color: #048AC8;
	text-decoration: underline;
}

#footercontainer a:hover {
	text-decoration: none;
}

.altProcessButtonFormat {
	background-image: url(../images/process.gif);
	border:0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	text-decoration:none;
	width:75px;
	height:19px;
	color:#6600CC;
} 

.altProcessButtonFormat:hover {
	background-image: url(../images/process.gif);
	border:0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	text-decoration:none;
	width:75px;
	height:19px;
	color:#FF0000;
}

