body {
	background-image: url(bground.jpg);
	background-repeat: repeat-x;
}

a.cnt:link , a.cnt:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color:#000099;
	text-decoration: none;
	padding: 2px;
	width: 60px;
	border: 1px solid #CCCCCC;
	display: block;
}

a.cnt:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color:#FF0000;
	text-decoration: none;
	padding: 2px;
	width: 60px;
	border: 1px solid #660000;
	display: block;
}

.tblbdr {
	border: 1px solid #333399;
}

.tblstrip {
	border: 1px solid #CCCCCC;
	background-color:#CCCCCC;
	height:5px;
}

a.mnu:link , a.mnu:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}

a.mnu:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color:#FF0000;
	text-decoration: overline;
}

.style1 {
	color: #FFFFFF
}

.std {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}

.tblhdr {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight: bold;
	color: #660000;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: dashed;
	border-left-style: none;
	border-top-color: #660000;
	border-right-color: #660000;
	border-bottom-color: #660000;
	border-left-color: #660000;
	width: 100%;
	background-color:#FFFFFF;

}

.std2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #3333FF;
}

.std3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:bold;
	color:#FFFFFF
}

.tdrt {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #FECECE;
	border-right-color: #FECECE;
	border-bottom-color: #FECECE;
	border-left-color: #FECECE;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #3333FF;

}
a.mnu2:link , a.mnu2:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	color:#3333FF;;
	text-decoration: none;
	display: block;
	border: 1px solid#FFFFFF;
	padding: 2px;
}
a.mnu2:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:18px;
	font-style: normal;
	font-weight: bold;
	color:#FF3300;
	text-decoration: none;
	display: block;
	border: 1px solid #000033;
}